.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -10px;
  margin-top: -10px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items .item {
  flex: 1 0 200px;
  box-sizing: border-box;
  padding: 10px;
  /*margin-left: 10px;*/
  margin-top: 10px;
}
@media (min-width: 410px) {
  .items .item {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 620px) {
  .items .item {
    max-width: calc(33.33333% - 10px);
  }
}
@media (min-width: 830px) {
  .items .item {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1040px) {
  .items .item {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .items .item {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1460px) {
  .items .item {
    max-width: calc(14.28571% - 10px);
  }
}
@media (min-width: 1670px) {
  .items .item {
    min-width: calc(12.5% - 10px);
  }
}
/*.roadmap-container .nav_r {*/
/*  width:auto;*/
/*  display: table-cell;*/
/*  white-space:nowrap;*/
/*  padding:5px;*/
/*  border: 1px solid #c00;*/
/*}*/
