.table-row:hover {
  background-color: #f5f6f8;
  cursor: pointer;
}

.notification__content {
  width: 100%;
}

.notification__category__container {
  display: flex;
  justify-content: space-between;
}
