.red-border {
  border: 1px solid #c4183c;
  box-shadow: 0 5px 11.5px rgba(196,24,60,.1);
  color: #495057
}

.green-border {
  border: 1px solid #17c671;
  box-shadow: 0 5px 11.5px rgba(23,198,113,.1);
  color: #495057
}

.pointer:hover {
  cursor: pointer;
}
